@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?k1sp5l');
  src:  url('../fonts/icomoon.eot?k1sp5l#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?k1sp5l') format('truetype'),
    url('../fonts/icomoon.woff?k1sp5l') format('woff'),
    url('../fonts/icomoon.svg?k1sp5l#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelope:before {
  content: "\e900";
}
.icon-phone:before {
  content: "\e942";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-close:before {
  content: "\ea0d";
}

body{
	font-family: 'Allerta', sans-serif;
	margin: 0;
}

input, textarea{
	outline: 0;
}

input:focus, textarea:focus{
	background: lightgray;
}

table{
	border-collapse: collapse;
	width: 100%;
}

table, td, th{
	border: 1px solid #273B47;
}

td{
	padding: 20px;
}

th{
	background: #273B47;
	color: white;
	padding: 5px 20px;
	text-align: left;
}

/*Con este estilo es mas que suficiente para hacer responsivo a un video dentro de la etiqueta video de HTML*/
video{
	width: 100%;
}

.background{
	background-color: #466173 ;
	background-image: url("../images/background.png");
	background-size: cover;
}

.burguer-button{
	background: #395667;
	border-radius: 50%;
	cursor: pointer;
	display: none;
	height: 40px;
	left: 20px;
	line-height: 40px;
	position: fixed;
	text-align: center;
	top: 20px;
	width: 40px;
	z-index: 3;
}

.button{
	background: #FD324E;
	background: linear-gradient(to left, #FE344E, #FF7250);
	border-radius: 12px;
	border: none;
	color: white;
	cursor: pointer;
	font-size: 18px;
	padding: 7px 12px;
	text-decoration: none;
}

.col1{
	margin-right: 15px;
}

.col2{
	align-items: flex-start;
}

.col1, .col2{
	display: flex;
	flex-direction: column;
}

.col2 .button{
	margin-top: 15px;
}

.contacto{
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	width: 300px;
}

.contacto img,
.contacto strong{
	display: block;
}

.contacto a{
	color: white;
	text-decoration: none;
	margin: 10px 10px 10px 0;
}

.contenedor{
	margin: auto;
	max-width: 800px;
	position: relative;
}

.contenedor-guitarra-a{
	padding-left: 20px;
}

.contenedor-guitarra-b{
	margin-left: 370px;
	position: relative;
	bottom: 90px;
}

.footer{
	padding: 50px 10px;
	background: #273B47;
}

.footer .contenedor{
	display: flex;
	justify-content: space-between;
}

.formulario{
	color: white;
	display: flex;
	width: 400px;
}

.formulario label, .sexo, .motivo{
	margin-bottom: 10px;
}

.guitarra{
	border: 1px solid #1F313C;
	border-radius: 8px;
	margin: 10px 10px 40px 10px;
	padding: 10px;
}

.guitarra.b{
	height: 190px;
}

.guitarras{
	color: #1F313C;
	margin-bottom: 60px;
}

.guitarras h2{
	font-size: 35px;
}

.derecha{
	float: right;
	position: relative;
	top: -127px;
}

.izquierda{
	float: left;
}

.logotipo{
	display: inline-block;
	margin-left: 0;
}

.menu{
	font-size: 24px;
	display: inline-block;
	position: absolute;
	right: 0;
}

.menu a{
	color: white;
	text-decoration: none;
}

.menu li {
	display: inline-block;
	margin-left: 30px;
}

.menu li:before{
	content: '°';
	font-size: 20px;
	line-height: 20px;
	color: white;
}

.motivo{
	font-size: 12px;
}

/*En css algunas propiedades pueden heredarse, 
por ejemplo todas las propiedades referentes 
a las fuentes y todas las propiedades que puedan 
colorearse como por ejemplo el background*/
.portada{
	color: white;
	height: 500px;
	padding: 20px;
}

.portada button{
	margin-bottom: 70px;
}

.sexo{
	margin-top: 10px;
}

.title-a{
	font-size: 24px;
	margin-top: 0;
}

.tabla{
	margin: 50px 0;
}

.title-b{
	font-size: 50px;
	margin-bottom: 20px;
}

.titulo{
	font-size: 70px;
	margin-bottom: 0;
	margin-top: 70px;
}

.titulo span{
	text-decoration: underline;
}

.titulo, .guitarras h2{
	font-family: 'Montserrat', sans-serif;
}

.video-demo{
	border: 5px solid #3C5B6E;
	max-width: 500px;
	width: 100%; /*Al hacer que el video-demo-contenedor sea flex, sus hijos se vuelven flexibles y el contenido es un video, se necesita fijar el tamaño del mismo*/
}

.video-demo-contenedor{
	display: flex;
	justify-content: center;
	margin: 0 0 80px;
}

/*Los siguientes 2 estilos sirven para hacer que responsivo un video insertado, en un object o iframe, desde un enlace externo, por ejemplo Youtube, etc */
.video-responsive-contenedor{
	position: relative;
	padding-top: 56.4%; /*El porcentaje se obtuvo de la relación del (alto*100)/ancho. Ejemplo: (315*100)/560*/
}

.video-responsive-src{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

/*Despues de media se pone el elemento o medio el cual se desea observar y luego seguido de 'and' la condición del medio*/
@media screen and (max-width: 800px){
	/*Estilos para adaptar el sitio a tablets*/

	.contenedor-guitarra-a{
		padding: 0;
	}

	.contenedor-guitarra-b{
		position: static;
		margin: 0;
	}

	.derecha, .izquierda{
		float: none;
		position: static;
	}

	.guitarra.b{
		height: auto;
	}

	.guitarra li{
		list-style: none;
	}

	.guitarras{
		text-align: center;
	}

	.portada{
		height: auto;
	}

	.portada .button{
		display: inline-block;
		margin-bottom: 30px;
	}

	.tabla{
		margin: 50px 10px;
	}

	.tabla .contenedor{
		border: 1px solid #273B47;
		overflow: auto;
	}

	.titulo{
		font-size: 45px;
		margin-top: 30px;
	}

	.title-a{
		font-size: 18px;
	}

	.title-b{
		margin: 0;
	}

	.video-demo-contenedor{
		margin: 0 10px;
	}
}

@media screen and (max-width: 767px){

	input[type='checkbox'], 
	input[type='radio']{
		zoom: 1.5;
	}

	input[type='email'], 
	input[type='text']{
		font-size: 16px;
		padding: 5px;
	}

	textarea{
		width: 100%;
	}

	.col1{
		margin: 0;
	}

	.contacto{
		margin: 0 auto;
	}

	.footer .contenedor{
		display: block;
	}

	.formulario{
		display: block;
		margin: 0 auto;
		width: 300px;
	}

	.motivo label{
		display: block;
		font-size: 16px;
	}
}

@media screen and (max-width: 650px){
	/*Estilos para adaptar el sitio a mobiles*/

	.cabecera{
		text-align: center;
	}

	.guitarra img{
		height: auto; /* En este caso no hace falta pero si tiene un alto declarado esta línea si sería necesaria */
		width: 200px;
	}

	.logotipo{
		margin: 0;
	}

	.menu{
		display: block;
		position: static;
	}

	.menu li:first-child{
		margin: 0;
	}

	.menu ul{
		padding: 0;
	}
}

@media screen and (max-width: 500px){

	input[type="submit"],
	button {
		align-items: stretch;
		width: 100%
	}

	.asunto{
		width: 100%
	}

	.burguer-button{
		display: inline-block;
	}

	.menu{
		align-items: center;
		background-color: rgba(255, 60, 88, 0.8);
		bottom: 0;
		display: flex;
		left: -100%;
		position: fixed;
		right: 0;
		top: 0;
		width: 100%;
		z-index: 2;
		transition: .3s;
	}

	.menu li{
		border-bottom: 1px solid white;
		display: block;
		margin: 0;
		padding: 8px 0;
	}

	.menu li:before{
		display: none;
	}

	.menu li:first-child{
		border-top: 1px solid white;
	}

	.menu ul{
		flex: 1;
	}

	.menu.active{
		left: 0;
	}

	.portada{
		text-align: center;
	}

	.portada .contenedor{
		position: static;
	}

	.title-a{
		font-size: 16px;
	}

	.title-b{
		font-size: 30px;
	}

	.titulo{
		font-size: 30px;
	}
}

@media screen and (-webkit-min-device-pixel-ratio: 2){
	.background{
		background-image: url("../images/background2x.png");
	}
}